body{
  background-image: url("./assets/fondo.jpg");
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
}

.dark{
  background-color:black;
}
